.menuItem {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    height: 35px;
    font-size: 18px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menuItem:hover {
    color: #EC5E2A;
}

.menuToggled {
    background-color: #dadada;
    border-bottom: 1px solid #EC5E2A;
    color: #EC5E2A;
}

.subMenuItem {
    border-bottom: 1px solid #ececec;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
}

.subMenuItem:hover {
    background-color: #f1f1f1;
    color: #EC5E2A;
    padding-left: 15px;
}

.container {
    width: 100%;
    background-color: #2CA966;
    height: 84px;
}

.navbar {
    max-width: 1400px;
    margin: auto;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: center;

    position: relative;
}

.category_item {
    cursor: pointer;
    color: #000000;
    padding: 10px 10px;
    font-size: 17px;
    border-bottom: 2px solid #c5c5c5;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.active_category {
    background-color: #FFDECB;
    transition: 0.25s all ease-in-out;
}

.category_item:hover {
    background-color: #FFDECB;
    transition: 0.25s all ease-in-out;
}

.block {
    min-width: 125px;
    margin: 10px 20px 20px 20px;
}

.block_title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.block_element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    margin: 10px 0 10px 10px;
    font-size: 14px;
    font-weight: 500;
    width: max-content;
}

.block_element a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #000;
    transition: 400ms;
}

.block_title a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #FFDECB;
    transition: 400ms;
}

.block_element a:hover:after,
.block_title a:hover:after {
    width: 100%;
}

.menuList {
    height: 88vh;
    overflow-y: scroll;
}

.menuList::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.menuList::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2CA966;
    cursor: pointer;
}

.menuList::-webkit-scrollbar-track {
    border-radius: 30px;
}